
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-down-open-1:before { content: '\e802'; } /* '' */
.icon-left-open-1:before { content: '\e803'; } /* '' */
.icon-add:before { content: '\e804'; } /* '' */
.icon-back:before { content: '\e805'; } /* '' */
.icon-checked:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-right-open-1:before { content: '\e808'; } /* '' */
.icon-down-arrow:before { content: '\e809'; } /* '' */
.icon-up-open-1:before { content: '\e80a'; } /* '' */
.icon-left-arrow:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e816'; } /* '' */